@page "/"
@using english_test.Helpers

<PageTitle>Test</PageTitle>

<button class="btn btn-primary" @onclick="ShowNewWord">Zaczynamy!</button>
<br />
<br />
<h5>@currentWord.pl</h5>
<p>Podaj tłumaczenie:</p>
<input @bind-value="@answer" class="form-control" />
<div id="force"></div>
<div id="touches"></div>
<canvas></canvas>
<br />
<button class="btn btn-outline-dark" @onclick="Check">Sprawdź</button>
<br />
<br />

@if (showTranslation)
{
    <i>@currentWord.en</i>

    <div class="buttons">
        <button class="btn btn-outline-success" @onclick="ShowNewWord">Dobrze 👍🏻</button>
        <button class="btn btn-outline-danger" @onclick="ToReview">Źle 😥</button>
    </div>
}


@code {
    (string en, string pl) currentWord = ("", "");
    Dictionary<string, string> words = Words.Words.words;
    Random rng = new Random();
    string answer = "";
    int[] indexes;
    int[] currentIndexes;
    List<int> toReviewIndexes = new();
    int currentIndex;
    bool showTranslation = false;

    public void Check()
    {
        showTranslation = true;
    }

    public void ShowNewWord()
    {
        if (currentIndexes.Length == 0)
        {
            if (toReviewIndexes.Count > 0)
            {
                currentIndexes = toReviewIndexes.ToArray();
                rng.Shuffle(currentIndexes);
                toReviewIndexes = new();
            }
            else
            {
                rng.Shuffle(indexes);
                currentIndexes = indexes;
            }
        }
        currentIndex = currentIndexes[0];
        var current = words.ElementAt(currentIndex);
        currentWord = (current.Key, current.Value);
        currentIndexes = currentIndexes[1..];
        showTranslation = false;
        answer = "";
    }

    public void ToReview()
    {
        toReviewIndexes.Add(currentIndex);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            indexes = Enumerable.Range(0, words.Count() - 1).ToArray();
            rng.Shuffle(indexes);
            currentIndexes = indexes;
        }
    }
}